import stainless.lang._

object loop5 {
  // MODEL
  
  def fM(n: BigInt): BigInt = {
    f_loopM(n, 0, 0)
  }
  
  def f_loopM(n: BigInt, i: BigInt, j: BigInt): BigInt = {
    decreases(if (n + n - i < 0) BigInt(0) else n + n - i)
    if i < n + n then
      f_loopM(n, i + 1, j + 1)
    else
      j
  }
  
  // CANDIDATE
  
  def f1(n: BigInt): BigInt = {
    f_loop1(n + n, 0)
  }
  
  def f_loop1(i: BigInt, j: BigInt): BigInt = {
    if i > 0 then
      f_loop1(i - 1, j + 1)
    else
      j
  }
}
