import stainless.lang._
import stainless.collection._

object length1 {

  def lengthM[T](l: List[T]): BigInt = {
      l match {
          case Nil() => 0
          case Cons(_, t) => 1 + lengthM(t)
      }
  }
  
  def length1[T](l: List[T]): BigInt = {
      if l == Nil[T]() then 0
      else 1 + length1(l.tail)
  }
}
