import stainless.lang._
import stainless.collection._

object length2 {
  
  def lengthTailM[T](acc: BigInt, l: List[T]): BigInt = {
      decreases(l)
      l match {
          case Nil() => acc
          case Cons(_, t) => lengthTailM(acc + 1, t)
      }
  }
  
  def lengthTail1[T](l: List[T], acc: BigInt): BigInt = {
      decreases(l)
      l match {
          case Nil() => acc
          case Cons(_, t) => lengthTail1(t, acc + 1)
      }
  }
  
  def lengthM[T](l: List[T]): BigInt = {
      l match {
          case Nil() => 0
          case Cons(_, t) => lengthTailM(1, t)
      }
  }
  
  def length1[T](l: List[T]): BigInt = {
    if l == Nil[T]() then 0 else lengthTail1(l.tail, 1)
  }
}
