import stainless.lang._
import stainless.collection._

object mapSum {
  
  def sumM(x: BigInt, y: BigInt): BigInt = {
      decreases(if x > 0 then x else -x)
      if x == 0 then y
      else if x < 0 then sumM(x + 1, y - 1)
      else sumM(x - 1, y + 1)
  }
  
  def mapM(l: List[(BigInt, BigInt)]): List[BigInt] = {
      l match {
          case Nil() => Nil()
          case Cons((h1, h2), t) => 
              val hM = sumM(h1, h2)
              hM :: mapM(t)
      }
  }
  
  def sum1(x: BigInt, y: BigInt): BigInt = {
      x + y
  }
  
  def map1(l: List[(BigInt, BigInt)]): List[BigInt] = {
      l match {
          case Nil() => Nil()
          case Cons((h1, h2), t) => 
              val hC1 = sum1(h1, h2)
              hC1 :: map1(t)
      }
  }
}
