import stainless.lang._
import stainless.collection._

object max4Simplified {
  // MODEL

  def maxM(lst: List[BigInt]): BigInt = {
    decreases(lst)
    lst match {
      case Nil()             => -1
      case Cons(hd, Nil())   => hd
      case Cons(hd, tl)    => if (hd > maxM(tl)) then hd else maxM(tl)
    }
  }
  
  // CANDIDATE 3
  
  def max3(l: List[BigInt]): BigInt = {
    decreases(l.size)
    l match {
      case Nil() => -1
      case Cons(hd, tl) =>
        tl match {
          case Nil() => hd
          case Cons(hd1, tl1) =>
            assert((hd :: tl1).size < l.size)
            if (hd > hd1) then max3(hd :: tl1) else max3(hd1 :: tl1)
        }
    }
  }
}
