import stainless.lang._
import stainless.collection._

object simplifiedBinSum {
  // MODEL
  
  // This tests the normalization def where the return type is changed
  
  
  def binSumM(l1: List[Boolean], l2: List[Boolean], c: Boolean): List[Boolean] = {
    decreases(l1.size + l2.size)
    (l1, l2) match {
      case (Nil(), Nil()) => Nil()
      case (Cons(true, t1), Cons(false, t2)) => !c :: binSumM(t1, t2, c)
      case (Cons(false, t1), Cons(true, t2)) => !c :: binSumM(t1, t2, c)
      case (Cons(false, t1), Cons(false, t2)) => c :: binSumM(t1, t2, false)
      case (Cons(true, t1), Cons(true, t2)) => c :: binSumM(t1, t2, true)
      case (Cons(true, t1), Nil()) => !c :: binSumM(t1, Nil(), c)
      case (Cons(false, t1), Nil()) => c :: binSumM(t1, Nil(), false)
      case (Nil(), Cons(true, t2)) => !c :: binSumM(t2, Nil(), c)
      case (Nil(), Cons(false, t2)) => c :: binSumM(t2, Nil(), false)
    }
  }
  
  // CANDIDATE
  
  def binSum1(l1: List[Boolean], l2: List[Boolean], c: Boolean): List[Boolean] = {
    decreases(l1.size + l2.size)
    (l1, l2, c) match
      case (Nil(), Nil(), _) => Nil()
      case (Cons(true, t1), Cons(false, t2), false) => true :: binSum1(t1, t2, false)
      case (Cons(true, t1), Cons(false, t2), true) => false :: binSum1(t1, t2, true)
      case (Cons(false, t1), Cons(true, t2), false) => true :: binSum1(t1, t2, false)
      case (Cons(false, t1), Cons(true, t2), true) => false :: binSum1(t1, t2, true)
      case (Cons(false, t1), Cons(false, t2), false) => false :: binSum1(t1, t2, false)
      case (Cons(false, t1), Cons(false, t2), true) => true :: binSum1(t1, t2, false)
      case (Cons(true, t1), Cons(true, t2), false) => false :: binSum1(t1, t2, true)
      case (Cons(true, t1), Cons(true, t2), true) => true :: binSum1(t1, t2, true)
      case (Cons(true, t1), Nil(), true) => false :: binSum1(t1, Nil(), true)
      case (Cons(true, t1), Nil(), false) => true :: binSum1(t1, Nil(), false)
      case (Cons(false, t1), Nil(), true) => true :: binSum1 (t1, Nil(), false)
      case (Cons(false, t1), Nil(), false) => false :: binSum1(t1, Nil(), false)
      case (Nil(), Cons(true, t1), true) => false :: binSum1(t1, Nil(), true)
      case (Nil(), Cons(true, t1), false) => true :: binSum1(t1, Nil(), false)
      case (Nil(), Cons(false, t1), true) => true :: binSum1(t1, Nil(), false)
      case (Nil(), Cons(false, t1), false) => false :: binSum1(t1, Nil(), false)
  }
}
